<html>
<head>
	<title>Drone Tracker</title>
	<style>
		body { margin: 0; }
	</style>
</head>
<body>
	<div id="test">
	<script type="text/javascript" src='dependencies/DAT.GUI.min.js'></script>
	<script type="text/javascript" src='dependencies/jquery.min.js'></script>
	<script type="text/javascript" src='dependencies/three.min.js'></script>
	<script type="text/javascript" src='dependencies/OBJLoader.js'></script>
	<script type="text/javascript" src='dependencies/OcculusControls.js'></script>
	<script type="text/javascript" src='dependencies/OcculusRiftEffect.js'></script>
	<script type="text/javascript" src='dependencies/socket.io.js'></script>
	<script type="text/javascript" src='dependencies/threex.keyboardstate.js'></script>
	<script type="text/javascript" src='dependencies/TrackballControls.js'></script>

	<script type="text/javascript" src='js/camera.js'></script>
	<script type="text/javascript" src='js/keyboard.js'></script>
	<script type="text/javascript" src='js/lights.js'></script>
	<script type="text/javascript" src='js/model.js'></script>
	<script type="text/javascript" src='js/ui.js'></script>
	<script type="text/javascript" src="js/cockpit.js"></script>
	<script type="text/javascript" src='js/webgl.js'></script>
	</div>
</body>
</html>