<html>
<head>
	<title>Drone Tracker</title>
	<style>
		body { margin: 0; }
		canvas { width: 100%; height: 90% }
	</style>
	<div class='top'>
	<!-- 
		<input id='takeOff' type='button' value='Take Off'/>
		<input id='land' type='button' value='Land'/>
		<input id='startUpdate' type='button' value='Toggle Updating'/>
		<input id='emergency' type='button' value='Disable emergency'/>
 	-->
 	</div>
</head>
<body>
	<script src='threejs/js/three.min.js'></script>
	<script type="text/javascript" src='threejs/js/threex.keyboardstate.js'></script>
	<script type="text/javascript" src="threejs/js/socket.io.js"></script>
	<script src='threejs/js/jquery.min.js'></script>
	<script src='threejs/js/TrackballControls.js'></script>
	<script src='threejs/js/OBJLoader.js'></script>
	<script type="text/javascript" src='threejs/js/model.js'></script>
	<script type='text/javascript' src='threejs/js/ui.js'></script>
	<script type='text/javascript' src='threejs/js/DAT.GUI.min.js'></script>
	<script type='text/javascript' src='threejs/js/webgl.js'></script>
	<script type='text/javascript' src='threejs/js/OcculusRiftEffect.js'></script>
	<script type='text/javascript' src='threejs/js/OcculusControls.js'></script>
</body>
</html>